body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.footer {
    margin-top: 50px;
    margin-bottom: 25px;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.app-content > .app-image {
    padding-left: 50px;
    padding-right: auto;
}

.app-content > div, .app-content > ul {
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-store-icons {
    padding-left: auto;
    padding-right: auto;
}

.app-store-icon {
    margin: 10px 10px 10px 10px;
    width: 172px;
    height: 60px;
}