h1 About
#about.
    I am a software developer learning new things and keeping my skills fresh. I build applications that I want to use in my daily life to make things better. I’m currently focusing on applications in the “Quantified Self” and health tracking space.