<img src="/images/Headache-Log-feature-graphic.png"/>
<div>Track your headaches so you can gain insight into their frequency, triggers and what remedies work. Anyone who suffers from headache or migraines knows that they can be unpredictable and interrupt your activities. With this headache log, you’ll be able
  to easily see how frequently your headaches occur and how severe they are. You can track what remedies and medications work for each type of headache and it’s severity. Additionally, track any notes before the onset of the headache to help you identify
  your triggers (such as diet, sleep, stress and other activities).
</div>
<div>The Headache Log is also a great tool to be able to quantify your headache history and frequency to your medical team when seeking advice.</div>
<ul>
  <li>Track when your headaches occur, and their severity</li>
  <li>Enter remedies and medications to see what works</li>
  <li>Write notes related to onset so you can more easily identify triggers</li>
</ul>
<a href="https://play.google.com/store/apps/details?id=com.logicalenigma.headachelog">
  <img src="/images/en_generic_rgb_wo_60.png" alt="">
</a>
<a href="http://www.amazon.com/Logical-Enigma-Headache-Log/dp/B00UDPWMIK/ref=sr_1_1?s=mobile-apps&ie=UTF8&qid=1433105317&sr=1-1" class="href">
  <img src="/images/amazon-apps-store-us-black.png" alt="">
</a>
