<h1>Welcome</h1>
<p>See below for the list of applications we&#8217;re currently working on.</p>
<div class="col-sm-6">
    <h1><a href="/currencyconverter">Currency Converter</a></h1>
    <p>
        <a href="/currencyconverter">
        <img src="images/currencyconverter-114.png" alt="currencyconverter-114" width="114" height="114" /></a>
    </p>
    <p>Easily convert between two currencies.</p>
    <p></p>
</div>
<div class="col-sm-6">
    <h1><a href="/headachelog">Headache Log</a></h1>
    <p>
        <a href="/headachelog">
        <img src="images/HeadacheLogIcon_114.png" alt="HeadacheLogIcon_114" width="114" height="114" /></a>
    </p>
    <p >Track headaches and migraines so you can find patterns.</p>

</div>  