	<div class="container">
			<div class="row row-bottom-padded-lg" id="about-us">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">About Us</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 to-animate">
							<h3> I am a software developer learning new things and keeping my skills fresh. I build applications that I want to use in my daily life to make things better. I’m currently focusing on applications in the “Quantified Self” and health tracking space.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>