<div class="container" >
	<div class="row row-bottom-padded-lg" id="home">
		<div class="col-md-12 text-center ">
			<h1 class="to-animate">Welcome to Logical Enigma</h1>
			<div class="row">
				<h2 class="to-animate">A playground for new ideas</h2>
				<div class="col-md-8 col-md-offset-2 to-animate">
					<p class="to-animate"><a href="#" data-nav-section="apps" class="btn btn-primary btn-lg">See our apps</a></p>
				</div>
			</div>
		</div>
	</div>
</div>