<div class="app-content">
    <img class="app-image" src="/images/Currency-Converter-feature-graphic.png" />
    <div>Quickly and easily convert between two currencies. Over 150 currencies are supported, and rates are updated hourly. The app will work offline with the last retrieved updates, so it&#8217;s perfect for when you&#8217;re traveling and don&#8217;t have
        a data connection. The app uses a network connection to retrieve updated rate information. No access to your personal information on your device.</div>
    <ul>
        <li>Currency Conversions between 150 currencies</li>
        <li>Rate data is updated hourly</li>
        <li>Works offline</li>
    </ul>
    <div>
    <div class="app-store-icons">
    <a href="https://play.google.com/store/apps/details?id=com.logicalenigma.currencyconverter">
        <img class="app-store-icon" src="http://logicalenigma.com/site/wp-content/uploads/2015/05/en_generic_rgb_wo_60.png" alt="Get it on Google Play" width="172" height="60" />
        </a>
    
        <a href="http://www.amazon.com/gp/product/B00U554BEG">
        <img class="app-store-icon" src="http://logicalenigma.com/site/wp-content/uploads/2015/05/amazon-apps-store-us-black.png" alt="Available at Amazon" width="192" height="66" /></a>
    </div>
    </div>
</div>